<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Base" value="C:/Users/magalip/Documents/Datos problema/Datos Problemas/"/>
		<add key="Clientes" value="clientes.txt"/>
		<add key="Consumos" value="consumos-ago-2017.txt"/>
		<add key="TteTerceros" value="tte_terceros-ago-2017.txt"/>
		<add key="Servicios" value="volumen_servicio_v2.txt"/>
	</appSettings>
</configuration>